[style=greenH1]{
    text-align:center;
    color:green;

}

[style=albumCover]{
    float:left;
}

[style=albumInfo]{
    font-size:12;
}

input{
    margin-left:30%;
    margin-right:30%;
    width:40%;
}